body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
#main_Rec{
    flex-shrink: 0;
    background: #FEF2E0;
    display: flex;
    min-height: 4224px; /* 최소 높이 4224px 유지 */
    max-height: calc(100% + 100px); /* 내부 요소 길이에 100px 추가 */
    /* width: 100%; */
    width: auto;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
.img_container{
    width: 100%;
    box-sizing: border-box;
}
.img_container img{
    width: 100%;
    height: auto;
    display: block;
}
.text_container{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: -67%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
#text1{  
    color: #1C1C1C;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: clamp(12px, 5vw, 7vw);
    font-style: normal;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 0px;
    min-width: 60%;
}
#text2{
    color: #1C1C1C;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: clamp(9px, 3vw, 6vw);
    font-style: normal;
    font-weight: 300;
    margin: 0vw;
}
.committe_container{
    /* width: 100%; */
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: minmax(auto, max-content); */
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-top: 0%;
}
.committe_baseset{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
    /* width: 100%;
    height: auto; */
    width: 521px;
    height: 320px;
    flex-shrink: 0;
    display: flex;
    aspect-ratio: 521 / 320;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.committe_baseset img{
    width: 20%;
    height: auto;
    margin-top: -26%;
    margin-left: 7%;
    aspect-ratio: 1/1;;
    filter: grayscale(100%);
}
.committe_head_baseset{
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 50%;
    margin: 0%;
}

#head_HSC{
background: #1F618D;
}
#head_LJC{
background: #7D3C98;
}
#head_NPC{
background: #117864;
}
#head_SFC{
    background: #F39C12;
}
#head_EC{
    background: #2980B9;
}
#head_SIBCC{
    background: #2ECC71;
}
#head_FAUC{
    background: #5DADE2;
}
#head_NDC{
    background: #C0392B;
}
#head_PASC{
    background: #1ABC9C;
}
#head_CSTC{
    background: #E67E22;
}
#head_AFROFC{
    background: #229954;
}
#head_TIESSC{
    background: #D35400;
}
#head_HWC{
    background: #E74C3C;
    opacity: 0.74;
}
#head_ELC{
    background: #27AE60;
}
#head_LITC{
    background: #F1C40F;
}
#head_IC{
    background: #7F8C8D;
}
#head_GEFC{
    background: #AE7AC5;
}
#head_SCBA{
    background: #2C3E50;
}

.committe_name_ko{
    color: #FFF;
    font-family: "Noto Sans KR";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 71.111% */
    margin-top: -17%;
    margin-left: 32%;
    margin-bottom: 0;
    z-index: 1;
}
#SIBCC_name_ko{
    width: auto;
    line-height: 40px; 
    margin-top: -20%;
}
#AFROFC_name_ko{
    width: auto;
    line-height: 40px; /* 111.111% */
    margin-top: -20%;
}
#TIESSC_name_ko{
    width: auto;
    line-height: 40px;
    margin-top: -20%;
}
.committe_name_en{
    color: #FFF;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
    transform-origin: left center;
    margin: 0;
    margin-left: 32%;
    margin-top: 2%;
}
#SIBCC_name_en{
    margin-top: 0%;
}
#AFROFC_name_en{
    margin-top: 0%;
}
#TIESSC_name_en{
    margin-top: 0%;
}
.committe_work{
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
    margin-top: 20%;
    margin-left: 7%;
}
#SIBCC_work{
    margin-top: 6%;
}
#AFROFC_work{
    margin-top: 8%;
    margin-bottom: 6%;
}
#TIESSC_work{
    margin-top: 8%;
    margin-bottom: 6%;
}
.button_info{
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border: 2px solid #E0E0E0;
    background: #EDF0F2;
    margin: 0;
    display: block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 2%;
    margin-left:40%;
}
.button_date{
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border: 2px solid #E0E0E0;
    background: #EDF0F2;
    margin: 0;
    display: block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: -9%;
    margin-left: 70%;
}
.agendaContainer-main{
    width: 100%;
    padding: 20px;
}
/* @media (min-width: 1200px){
    .committe_container{
        display: grid;
        grid-template-columns: repeat(2,521px);
        column-gap: 9vw;
        justify-content: center;
    }
} */