<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>위원회 일정 달력</title>
  <link rel="stylesheet" href="/static/css/calendar.css" />
  <link 
    rel="apple-touch-icon"
    sizes="180x180"
    type="image/png"
    href="../static/images/apple-touch-icon.png"
  />
  <link 
    rel="icon"
    sizes="16x16"
    type="image/png"
    href="../static/images/favicon-16x16.png"
  />
  <link 
    rel="icon"
    sizes="32x32"
    type="image/png"
    href="../static/images/favicon-32x32.png"
  />

</head>
<body>
  <!-- 배너 -->
  <header class="main-header">
    <h1 id="committeeKo"></h1>
    <p id="committeeEn"></p>
  </header>

  <!-- 달력 + 일정 카드 -->
  <div class="calendar-container">
    <div class="calendar-section card">
      <div class="calendar-header">
        <!-- 월 이동 버튼 -->
        <button id="prevMonthBtn">◀</button>
        <span id="monthYear">2025년 5월</span>
        <button id="nextMonthBtn">▶</button>
      </div>
      <div class="calendar-grid" id="calendarGrid"></div>

      <!-- 달력 내부 색상 -->
      <div class="legend-container in-calendar">
        <span><span class="dot General"></span> 전체회의</span>
        <span><span class="dot Small"></span> 소위원회</span>
        <span><span class="dot Public"></span> 공청회</span>
        <span><span class="dot Hearing"></span> 청문회</span>
      </div>
    </div>

    <!-- 일정 리스트 카드 -->
    <div class="schedule-section card">
      <div id="selectedDate">날짜를 선택해주세요</div>
      <ul id="scheduleList">
        <li>이곳에 일정이 표시됩니다</li>
      </ul>
    </div>
  </div>

  <!-- 안건 카드 -->
  <div class="agenda-container card">
    <h3>✔ 안건명</h3>
    <p id="agendaDetail">일정을 선택하면 이곳에 상세 내용이 표시됩니다.</p>
  </div>

  <footer class="main-footer">
    &copy OAO
  </footer>

  <script src="/static/js/calendar.js"></script>
</body>
</html>
